* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    background: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100dvh;
    background-color: #1e1e1e;
}

#diagram {
    height: auto;
    width: auto;
    position: relative;
}

#backNav {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 32px;
}

.entity {
    transition: 0.2s;
}

.back {
    filter: blur(1px) grayscale(0.25) brightness(0.75);
}
