<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- favicon settings start-->
        <link
            rel="icon"
            type="image/png"
            href="{{ rootPath }}/favicon/favicon-96x96.png"
            sizes="96x96"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ rootPath }}/favicon/favicon.svg"
        />
        <link rel="shortcut icon" href="{{ rootPath }}/favicon/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ rootPath }}/favicon/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Grapegram" />
        <link rel="manifest" href="{{ rootPath }}/favicon/site.webmanifest" />
        <!-- favicon settings end-->
        <link rel="stylesheet" href="{{ rootPath }}/styles.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="diagram">{{ diagram }}</div>
        <div id="backNav"><</div>
        <script>
            var elems = {};
            var links = [];
            var rels = {};
            var elemPattern = /elem_(.*)/;
            var linkPattern = /link_(.*)_(.*)/;
            var front = [];
            var back = [];

            function initNavigations() {
                const backBtn = document.getElementById("backNav");
                const digram = document.getElementById("diagram");
                const rootPath = "{{ rootPath }}/";
                const isRoot = location.pathname == rootPath;

                if (isRoot) {
                    backBtn.style.display = "none";
                }
                backBtn.addEventListener("click", () => {
                    const current = location.pathname;
                    const newPath =
                        "/" +
                        current
                            .split("/")
                            .filter((it) => it)
                            .slice(0, -1)
                            .join("/");
                    location.replace(newPath);
                });
            }

            function initDiagram() {
                const baseEntitiesGroup =
                    diagram.querySelector(`[id^="elem_"]`).parentElement;
                for (const entity of baseEntitiesGroup.children) {
                    addElement(entity);
                }
                buildDiagramReletionships();
                bindEntities();
            }

            function bindEntities() {
                const entities = [];
                entities.push(...Object.values(elems));
                entities.push(...links.map((l) => l.node));
                for (const entity of entities) {
                    entity.addEventListener("mouseenter", onHoverStart);
                    entity.addEventListener("mouseleave", onHoverEnd);
                    front.push(entity);
                    entity.classList.add("entity");
                }
            }

            function addElement(element) {
                const metadata = element.id;
                const elemMatch = metadata.match(elemPattern);
                if (elemMatch) {
                    const name = elemMatch[1];
                    elems[name] = element;
                    return;
                }
                const linkMatch = metadata.match(linkPattern);
                if (linkMatch) {
                    const start = linkMatch[1];
                    const end = linkMatch[2];
                    links.push({ start, end, node: element });
                    return;
                }
            }

            function buildDiagramReletionships() {
                for (const elem in elems) {
                    rels[elems[elem].id] = [];
                }
                for (const link of links) {
                    const start = elems[link.start];
                    const end = elems[link.end];
                    rels[link.node.id] = [start, end];
                    rels[start.id] = [...rels[start.id], link.node, end];
                    rels[end.id] = [...rels[end.id], link.node, start];
                }
            }

            function toggleAccentElements(elements, show) {
                const toggleGroup = (fromGroup, toGroup) => {
                    for (let i = 0; i < fromGroup.length; ) {
                        const elem = fromGroup[i];
                        if (!elements.includes(elem)) {
                            fromGroup.splice(i, 1);
                            toGroup.push(elem);
                        } else {
                            i++;
                        }
                    }
                };
                if (show) {
                    toggleGroup(front, back);
                } else {
                    toggleGroup(back, front);
                }
                for (const elem of front) {
                    elem.classList.remove("back");
                }
                for (const elem of back) {
                    elem.classList.add("back");
                }
            }

            function onHoverStart(e) {
                const elem = e.target;
                const related = rels[elem.id];
                toggleAccentElements([elem, ...related], true);
            }

            function onHoverEnd(e) {
                const elem = e.target;
                const related = rels[elem.id];
                toggleAccentElements([elem, ...related], false);
            }

            function main() {
                initNavigations();
                initDiagram();
            }
            main();
        </script>
    </body>
</html>
